sudo: required
language: python
  
python:
  - "3.6"
script:
  - python -m pytest -v

services:
  - docker
before_install:
  - docker build -t cicd-buzz .

deploy:
   provider: script
   script: bash docker_push.sh
   on:
     branch: master
